@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
} */

.first-para-div {
  background: #D9D9D9;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: 26px;
  margin-top: 20px;
  width: 1470px;
}

.first-para-div p {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  color: #0a0000;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  margin: 20px 0px -40px 60px;
}

h4 {
  color: #ffffff;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;

}
.text p{
  font-family: 'Montserrat', sans-serif;
}

#myDiv {
  width: 700px;
  height: 700px;
  background-color: rgba(145, 155, 135, 0.365);
  margin: 10px;
  padding: 10px;
  margin: 10px auto;
  border: 0px;
  margin-bottom: 50px;
}

.text {
  margin-bottom: 15px;
  padding: 10px;
  color: #faf7f7;
  background-color: #0F4C5C;
  border: 0px transparent;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin: 60px;
  border: 2px solid #000;
  font-family: Arial, sans-serif;
  background-color: #0F4C5C;
}

label {
  color: #333;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: rgb(237, 159, 33);
  color: #fff;
  size: 16px;
  width: 150px;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
button :hover{
  background-color: red;
}

#confirmation {
  margin-top: -50px;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
}

#confirm-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px auto;
}
#confirmation button{
  font-family: 'Montserrat', sans-serif;
}
#confirmation button:hover{
  background-color: rgb(195, 105, 105);
}
#confirmation a{
  text-decoration: none;
}


.custom-select {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  width: 400px;
  border: 0px;
  height: 300px;
}

.custom-select select {
  display: none;
}

select{
  position: absolute;
}

.select-selected {
  background-color: rgb(235, 238, 241);
  width: 300px;
  border-radius: 30px;
  margin: 25px 0px 0px 114px;
}


.select-selected:after {
  position: absolute;
  content: "";
  top: 42px;
  right: 103px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #534f4f transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #534f4f transparent;
  top: 35px;  
}

.select-items div,
.select-selected {
  color: #140404;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  background-color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 99;
  width: 290px;
  margin: 7px 0px 0px 118px;
}


.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}