@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    height: 80px;
    background: #EDF6F9;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', 'sans-serif';
}

.main-nav ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.main-nav ul li {
    list-style: none;
    font-weight: 200px;
    cursor: pointer;
}
.main-nav ul li:hover{
    color: #1B6B95;
}
.main-nav ul a{
    text-decoration: none;
    color: #2F3E46;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
}

.logo,
.main-nav,
.user-account {
    margin-top: 30px;
}
.user-account{
    font-size: 20px;
    cursor: pointer;
}