body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.h {
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  color: #007bff;
}
.form-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-toggle button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.form-toggle button.active {
  background-color: #042141;
}

.form-section {
  display: none;
}
.form-section.show {
  display: block;
}

.form-section h2 {
  margin-bottom: 20px;
}

.input-field {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
