@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tagline {
    display: flex;
    margin-bottom: 50px;
}

.image-tagline img {
    width: 760px;
    height: 639px;
    float: left;
}

.tags {
    background: #0F4C5C;
    width: 1000px;
    float: right;
    height: 639px;
}

.line {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    position: absolute;
    margin-top: 250px;
    width: 638px;
    margin-left: 70px;
}

.about-section {
    margin-bottom: 40px;
}

.about-text-heading {
    height: 68px;
    background: #D9D9D9;
}

.about-text-heading p {
    color: #0F4C5C;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}

.container-details-part1 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
    margin-top: 40px;
}

.container-details-part1 p {
    width: 590px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #2F3E46;
    margin-top: 50px;
    line-height: 35px;
}

.image-about-part-1 img {
    width: 482px;
    height: 315px;
}

.image-about-part-2 img {
    width: 359px;
    height: 359px;
}

.container-details-part2 {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 70px;
}

.container-details-part2 p {
    width: 590px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 25px;
    color: #2F3E46;
    margin-top: 50px;
    line-height: 35px;
}

.container-details-part2-para h3 {
    font-size: 25px;
    color: #0F4C5C;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 3px;
}

.container-details-part2-para {
    margin-top: 30px;
}

.effect-text-heading {
    height: 68px;
    background: #D9D9D9;
}

.effect-text-heading p {
    color: #0F4C5C;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}

.effect-image-part-1 img {
    width: 410px;
    height: 440px;
    margin-top: 14px;
}

.effect-image-part-2 img {
    width: 450px;
    height: 459px;
    margin-top: 20px;
}

.effects-section {
    margin-bottom: 50px;
}

.human-health-para {
    margin-top: -50px;
}

.human-health-image img {
    width: 400px;
    height: 420px;
}

.effects-human-section {
    margin-bottom: 40px;
}

.statistics-1-image img {
    width: 481px;
    height: 572px;
    margin-left: 120px;
}

.bottom-statistics {
    margin-top: 40px;
    justify-items: center;
}

.statistics-2-image img {
    width: 466px;
    height: 362px;
}

.statistics-2-image ul li {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.statistics-2-image {
    line-height: 80px;
}

.statistics-section {
    margin-bottom: 40px;
}

.drive-images {
    margin-top: 35px;
    margin-left: 105px;
}

.drive-images img {
    padding: 10px;
}

.awareness-drive-section {
    margin-bottom: 40px;
}

.container-blogs {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.image-part-1-blogs img {
    width: 509.208px;
    height: 354px;
}

.article-blog-1 p {
    width: 460px;
}

.article-blog-1 {
    line-height: 20px;
}

.article-blog-1 h3 {
    padding: 13px 0px 13px 0px;
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
}

.article-blog-1 p {
    margin-bottom: 10px;
}

.read-more {
    text-decoration: none;
    font-size: 18px;
}

.image-part-2-blogs img {
    width: 509.208px;
    height: 354px;
}
.blogs-section{
    margin-bottom: 40px;
}


